.title{
    text-align: center;
    color: #fff;
    font-size: 1.6rem ;
}
.title::after{
    content: '';
    margin: .5rem;
    margin-left: 1.5rem;
    width: 25%;
    display: inline-block;
    border: .01px solid #fff
}
.title::before{
    content: '';
    margin: .5rem;
    margin-right: 1.5rem;

    width: 25%;
    display: inline-block;
    border: .01px solid #fff 
}